:root {
    --bg-clr: yellow;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    padding: 20px;
}

.hidden{
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px 1fr;
    padding: 5svh;
}

.available-lists {
    color: red;
    grid-area: 2/1/3/2;
}

.current-list-container {
    grid-area: 2/2/3/3;
}

.list-item {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 50px;
    border: 1px solid black;
    border-radius: 50px 50px;
    background: rgb(229, 255, 112);
    margin: 10px 10px;
    padding: 15px 15px;
    gap: 20px 10px;

    .list-item-title {
    grid-area: 1/1/2/2;
    }

    .list-item-description {
        grid-area: 2/1/4/2;
    }

    .list-item-duedate {
        grid-area: 1/2/2/3;
    }

    .list-item-note {
        grid-area: 2/2/3/3;
    }

    .list-item-checklist {
        grid-area: 3/2/4/3;
        .add-button{
            color: red;
        }
        .checklist-item{
            display: flex;
            justify-content: space-between;
        }
    }

    .list-item-options-icon {
        grid-area: 1/3/2/4;
    }
}

.list-item-collapsed {
    grid-template-rows: 1fr;
    padding: 10px 10px;

    .list-item-note,.list-item-description,.list-item-checklist{
        display: none;
    }
}

.list-item > .list-item-checklist,.list-item-description,.list-item-duedate,.list-item-note,.list-item-title {
    background: white;
    margin: 5px;
    border-radius: 20px 20px;
    padding: 10px 20px;
    position: relative;
    box-shadow: 3px 2px rgb(170, 170, 170);
}

.list-item-options-container{
    position: relative;
}
.list-item-options {
    display: block;
    position: absolute;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
}
.list-item-options-container:hover {
    .list-item-options{
        display: block;
        position: absolute;
        top: 50%; 
        left: 0;   
        max-height: 200px;
        border-radius: 10px;
        z-index: 100;
        overflow: visible;
    }
}

.priorities{
    display: block;
    position: absolute;
    background-color: #fff;
    max-height: 0px;
    overflow: hidden;
    top: 60%; 
    left: -90%;  
}

.list-item-set-priority:hover + .priorities,
.list-item-set-priority + .priorities:hover {
  max-height: 200px;
  opacity: 1;
  pointer-events: auto;
}

.list-item-delete:hover,
.list-item-set-priority:hover{
    transition: background-color 0.3s;
    background-color: rgb(236, 236, 236);
}

.list-item-options-icon{
    width: 50px;
    height: 50px;
    svg{
        width: 100%;
        height: 100%;
    }
}

.priority.high:hover,
 .priority.medium:hover,
 .priority.low:hover{
    transition: background-color 0.3s;
    background-color: rgb(236, 236, 236);
}

.list-item.low, .low{
    background-color: green;
}

.list-item.medium, .medium{
    background-color: yellow;
}

.list-item.high, .high{
    background-color: red;
}

.add-item-modal-container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 100%, 0%, 0.6);
    width: 100%;
    height: 100%;
}

.add-item-modal{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25svw;
    top: 25svh;
    background-color: white;
    opacity: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5%;
}

.values-required-text{
    color: red;
}

.chekclist-buttons{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.chekclist-buttons > * {
    border: none;
    border-radius: 50%;
    box-shadow: none;
    padding: 3px;
}

.change-status-checklist-item{
    background-color: none;
    color: #9c9c9c;
}

.change-status-checklist-item.finished{
    background-color: rgb(165, 255, 165);
    color: green;
}

.remove-checklist-item{
    background-color: rgb(255, 214, 214);
    color: rgb(128, 0, 0);
}